@{
  Layout = null;
}
<center>
  <h1>사용자 데이터 입력</h1>
  <hr width="30%" />
  <form asp-controller="User" asp-action="Upload" method="post" enctype="multipart/form-data">
    <h3>취득교과목 영역별 분류표(.xls) 업로드</h3>
    <p><input type="file" name="fileCollection" multiple /></p>
    <h3>전체 성적 조회 파일(.xlsx) 업로드</h3>
    <p><input type="file" name="fileCollection" multiple /></p>
    <p><input type="submit" value="업로드" /></p>
  </form>
  <hr width="30%" />
  <h3>사용자 입력 정보 확인</h3>
  <form asp-controller="User" asp-action="Index" method="get">
    <p><input type="submit" value="확인" /></p>
  </form>
</center>